/* Adapted from https://v4-alpha.getbootstrap.com/examples/dashboard/dashboard.css and http://v4-alpha.getbootstrap.com/examples/offcanvas/offcanvas.css */

html,
body {
  /* Prevent scroll on narrow devices */
  overflow-x: hidden;
}
body {
  /* Required for Scrollspy */
  position: relative;
}
@media screen and (max-width: 991px) {
  body {
    padding-top: 3em;
  }
}

/*
 * Header
 */
.navbar-brand {
  height: 2em;
}

.navbar-brand svg {
  height: 100%;
}

.navbar-dark path {
  fill: #f5f5f5;
}

.navbar button {
  outline: 0;
}


/*
 * Sidebar
 */

.sidebar {
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding-top: 1.3em;
  padding-left: 1.6em;
  padding-right: 1.6em;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.nav-link.active,
.nav-link.active, a:hover,
.nav-link.active, a:focus {
  color: indianred;
}

.nav .nav {
  margin-left: 1em;
}


/*
 * Off Canvas
 */
@media screen and (max-width: 991px) {
  .row-offcanvas {
    position: relative;
    transition: all .25s ease-in-out;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-left .sidebar-offcanvas {
    left: -66.667%;
  }
  .row-offcanvas-right.active {
    right: calc(66.667% + 1em);
  }

  .row-offcanvas-left.active {
    left: calc(66.667% + 1em);
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 66.667%;
  }
}


/*
 * Main content
 */

.main {
  padding: 1.3em;
}
@media (min-width: 992px) {
  .main {
    padding-right: 2em;
    padding-left: 2em;
  }
}


/*
 * Code examples
 */

textarea {
  position: absolute;
  left: -99999px; /* Hide off canvas, while still remaining visible */
}

.CodeMirror {
  /* https://codemirror.net/demo/resize.html */
  height: auto;
  background: transparent;
}

.code-example {
  background-color: #f5f5f5;
  padding: 1em;
  border-radius: 0.3em;
  margin-bottom: 1em;
}
