/* Adapted from https://v4-alpha.getbootstrap.com/examples/dashboard/dashboard.css */

body {
  /* Required for Scrollspy */
  position: relative;
}

/*
 * Sidebar
 */

.sidebar {
  /* Hide for mobile, show later */
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 1.3em;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

.nav-link.active,
.nav-link.active, a:hover,
.nav-link.active, a:focus {
  color: indianred;
}

.nav .nav {
  margin-left: 1em;
}


/*
 * Main content
 */

.main {
  padding: 1.3em;
}
@media (min-width: 768px) {
  .main {
    padding-right: 2em;
    padding-left: 2em;
  }
}


/*
 * Code examples
 */

textarea {
  position: absolute;
  left: -99999px; /* Hide off canvas, while still remaining visible */
}

.CodeMirror {
  /* https://codemirror.net/demo/resize.html */
  height: auto;
  background: transparent;
}

.code-example {
  background-color: #f5f5f5;
  padding: 1em;
  border-radius: 0.3em;
}
