/* Adapted from https://github.com/FarhadG/code-mirror-themes/blob/master/themes/twilight.css */

.cm-s-twilight {
  letter-spacing: 0.3px;
  color: #f8f8f8;
}
.cm-s-twilight .CodeMirror-lines {
  padding: 0.5em 0;
}
.cm-s-twilight div.CodeMirror-cursor {
  border-left: 3px solid #f8f8f8;
}
.cm-s-twilight .CodeMirror-activeline-background {
  background: #ffffff08;
}
.cm-s-twilight .CodeMirror-selected {
  background: #ddf0ff33;
}
.cm-s-twilight .cm-comment {
  font-style: italic;
  color: #5f5a60;
}
.cm-s-twilight .cm-keyword {
  color: #cda869;
}
.cm-s-twilight .cm-string {
  color: #8f9d6a;
}
.cm-s-twilight .cm-property {
  color: #dad085;
}
.cm-s-twilight .cm-atom {
  color: #dad085;
}
.cm-s-twilight .cm-number {
  color: #dad085;
}
.cm-s-twilight .cm-operator {
  color: #cda869;
}

/* Uneditable code blocks are inverted, so use darker versions of the above */

.uneditable-code-block .comment {
  font-style: italic;
  color: #837B85;
}
.uneditable-code-block .class,
.uneditable-code-block .function,
.uneditable-code-block .keyword,
.uneditable-code-block .reserved,
.uneditable-code-block .title {
  color: #534328;
}
.uneditable-code-block .string
.uneditable-code-block .value
.uneditable-code-block .inheritance
.uneditable-code-block .header {
  color: #3A4029;
}
.uneditable-code-block .variable,
.uneditable-code-block .literal,
.uneditable-code-block .tag,
.uneditable-code-block .regexp,
.uneditable-code-block .subst,
.uneditable-code-block .property {
  color: #474429;
}
.uneditable-code-block .number,
.uneditable-code-block .preprocessor,
.uneditable-code-block .built_in,
.uneditable-code-block .params,
.uneditable-code-block .constant {
  color: #474429;
}
