language: node_js

node_js:
  - 0.8
  - 0.10
  - 0.12
  - 4
  - 6
  - 8
  - node

before_install:
  - "test $(echo $TRAVIS_NODE_VERSION | cut -d. -f1) = '0' && npm install --global npm@2"

cache:
  directories:
    - node_modules

script:
  - node ./bin/cake build:except-parser
  - node ./bin/cake build:parser
  - node --harmony ./bin/cake build:full
  - node ./bin/cake build:browser
  - node --harmony ./bin/cake test
  - node --harmony ./bin/cake test:browser
