environment:
  matrix:
    - nodejs_version: '6'
    - nodejs_version: '8'
    - nodejs_version: '10'
    - nodejs_version: '12'
    - nodejs_version: '' # Latest

install:
  - ps: Install-Product node $env:nodejs_version
  - node --version
  - npm --version
  - npm install

cache:
  - node_modules

test_script:
  - node ./bin/cake test
  - node --harmony ./bin/cake test
  - node ./bin/cake test:browser
  - node ./bin/cake test:integrations
  - node ./bin/cake build:except-parser
  - node ./bin/cake build:parser
  - node ./bin/cake build:full
  - node ./bin/cake build:browser

build: off

version: "{build}"
