<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>CoffeeScript</string>
	<key>uuid</key>
	<string>A46E4382-F1AC-405B-8F22-65FF470F34D7</string>
</dict>
</plist>
