body {
  font-size: 14px;
  line-height: 20px;
  background: #efeff9;
  color: #191933;
  font-family: Arial, Helvetica, sans-serif;
}
div.container {
  width: 850px;
  margin: 50px 0 50px 50px;
}
p {
  padding-left: 13px;
  width: 625px;
}
a {
  color: #000055;
}
h1, h2, h3, h4, h5, h6 {
  padding-left: 13px;
  margin-top: 40px;
}
br.clear {
  height: 0;
  clear: both;
}
b.header {
  color: #000055;
  display: block;
  margin: 40px 0 5px 0;
  font-size: 16px;
}
table, tr, td {
  margin: 0; padding: 0;
}
  td {
    padding: 2px 12px 2px 0;
  }
code, pre, tt {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 12px;
  line-height: 18px;
  color: #555529;
}
  code {
    margin-left: 20px;
  }
  pre {
    font-size: 12px;
    padding: 0 0 0 12px;
    margin: 0;
    width: 410px;
    float: left;
    border-left: 1px dotted #559;
  }
    pre:first-child {
      border-left: 0;
    }
div.code {
  position: relative;
  border: 1px solid #cacaca;
  background: #fff;
  padding: 7px 0 10px 0;
  -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
  -webkit-box-shadow: 0px 0px 7px #cacaca;
}
  div.code button {
    position: absolute;
    right: 8px; bottom: 8px;
  }