body {
  font-size: 14px;
  line-height: 20px;
  background: #f3f3f9;
  color: #191933;
  font-family: Arial, Helvetica, sans-serif;
}
div.container {
  width: 950px;
  margin: 50px 0 50px 50px;
}
p {
  padding-left: 13px;
  width: 625px;
}
a {
  color: #000055;
}
h1, h2, h3, h4, h5, h6 {
  padding-left: 13px;
  margin-top: 40px;
}
br.clear {
  height: 0;
  clear: both;
}
b.header {
  color: #000055;
  display: block;
  margin: 40px 0 5px 0;
  font-size: 16px;
}
li {
  margin-bottom: 7px;
}
table {
  margin: 16px 0 0 13px; padding: 0;
  width: 625px;
}
  tr, td {
    margin: 0; padding: 0;
  }
    td {
      padding: 9px 15px 9px 0;
    }
code, pre, tt {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 12px;
  line-height: 18px;
  color: #191955;
  white-space: pre-wrap;
  word-wrap: break-word;
}
  tt {
    background: #f8f8ff;
    border: 1px solid #dedede;
    font-size: 85%;
    padding: 0px 0.2em;
  }
  pre {
    border-left: 6px solid #222255;
    margin-left: 13px;
    padding: 3px 0 3px 12px;
    font-size: 12px;
  }
div.code {
  position: relative;
  border: 1px solid #cacaca;
  background: #fff;
  padding: 7px 0 10px 0;
  -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
  -webkit-box-shadow: 0px 0px 7px #cacaca;
}
  div.code button {
    position: absolute;
    right: 8px; bottom: 8px;
  }
  div.code pre {
    float: left;
    width: 450px;
    border-left: 1px dotted #559;
    padding: 0 0 0 12px;
    margin: 0;
  }
    div.code pre:first-child {
      border-left: 0;
    }