body {
  font-size: 16px;
  line-height: 24px;
  background: #f0f0e5;
  color: #252519;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;
}
div.container {
  width: 720px;
  margin: 50px 0 50px 50px;
}
p {
  width: 550px;
}
  #documentation p {
    margin-bottom: 4px;
  }
a, a:visited {
  padding: 0 2px;
  text-decoration: none;
  background: #dadaba;
  color: #252519;
}
a:active, a:hover {
  color: #000;
  background: #f0c095;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 40px;
}
b.header {
  font-size: 18px;
}
span.alias {
  font-size: 14px;
  font-style: italic;
  margin-left: 20px;
}
table, tr, td {
  margin: 0; padding: 0;
}
  td {
    padding: 2px 12px 2px 0;
  }
code, pre, tt {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 12px;
  line-height: 18px;
  color: #555529;
}
  code {
    margin-left: 20px;
  }
  pre {
    font-size: 12px;
    padding: 2px 0 2px 12px;
    border-left: 6px solid #aaaa99;
    margin: 0px 0 30px;
  }