pre.idle .InheritedClass {
}
pre.idle .TypeName {
   color: #9B859D;
}
pre.idle .Number {
   color: #CF6A4C;
}
pre.idle .LibraryVariable {
   color: #A535AE;
}
pre.idle .Storage {
   color: #F9EE98;
}
pre.idle .line-numbers {
   background-color: #BAD6FD;
   color: #000000;
}
pre.idle {
   background-color: transparent;
   color: #F8F8F8;
}
pre.idle .StringInterpolation {
   color: #990000;
}
pre.idle .TagName {
}
pre.idle .LibraryConstant {
   color: #CF6A4C;
}
pre.idle .FunctionArgument {
   color: #7587A6;
}
pre.idle .BuiltInConstant {
   color: #CF6A4C;
}
pre.idle .Invalid {
   background-color: #990000;
   color: #FFFFFF;
}
pre.idle .LibraryClassType {
   color: #9B859D;
}
pre.idle .LibraryFunction {
   color: #CDA869;
}
pre.idle .TagAttribute {
}
pre.idle .Keyword {
   color: #CDA869;
}
pre.idle .UserDefinedConstant {
}
pre.idle .String {
   color: #8F9D6A;
}
pre.idle .FunctionName {
   color: #9B859D;
}
pre.idle .Variable {
  color: #7587A6;
}
pre.idle .Comment {
   color: #5F5A60;
}
