/* Built via instructions from https://community.algolia.com/docsearch/documentation/docsearch-autocomplete/customize-autocomplete-styles/, using the following _variables.scss, with some unused classes deleted after build:

// SEARCHBOX
$searchbox-config: (
  input-width: 200px,
	input-height: 32px,
	border-width: 1px,
	border-radius: 16px,
	input-border-color: #CCCCCC,
	input-focus-border-color: #AAAAAA,
	input-background: #FFFFFF,
	input-focus-background: #FFFFFF,
	font-size: 12px,
	placeholder-color: #AAAAAA,
	icon-size: 14px,
	icon-position: left,
	icon-color: #6D7E96,
	icon-background: #458EE1,
	icon-background-opacity: 0,
	icon-clear-size: 8px
) !default;

// DROPDOWN
$dropdown-config: (
  main-color: #1b5e20,
  layout-type: normal,
  layout-width: normal,
  layout-alignment: align,
  background-color: #fff,
  border-radius: 4,
  border-width: 1,
  border-color: #efebe9,
  box-shadow: light,
  branding-position: bottom,
  spacing: normal,
  include-desc: yes,
  background-category-header:  #ffffff,
  font-size: normal,
  header-color: #2f2625,
  title-color: #0b140f,
  subtitle-color: #a29f9c,
  text-color: #3f4145,
  highlight-color: #388e3c,
  highlight-opacity: .1,
  highlight-type: underline
) !default;

$builder-height: 260px;
*/


.algolia-autocomplete.algolia-autocomplete-right .ds-dropdown-menu {
  right: 0 !important;
  left: inherit !important;
}

.algolia-autocomplete.algolia-autocomplete-right .ds-dropdown-menu:before {
  right: 48px;
}

.algolia-autocomplete.algolia-autocomplete-left .ds-dropdown-menu {
  left: 0 !important;
  right: inherit !important;
}

.algolia-autocomplete.algolia-autocomplete-left .ds-dropdown-menu:before {
  left: 48px;
}

.algolia-autocomplete .ds-dropdown-menu {
  position: relative;
  top: -6px;
  border-radius: 4px;
  margin: 6px 0 0;
  padding: 0;
  text-align: left;
  height: auto;
  position: relative;
  background: transparent;
  border: none;
  z-index: 999;
  max-width: 600px;
  min-width: 500px;
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}

.algolia-autocomplete .ds-dropdown-menu:before {
  display: block;
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  background: #fff;
  z-index: 1000;
  top: -7px;
  border-top: 1px solid #efebe9;
  border-right: 1px solid #efebe9;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-radius: 2px;
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestions {
  position: relative;
  z-index: 1000;
  margin-top: 8px;
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestion {
  cursor: pointer;
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestion.ds-cursor .algolia-docsearch-suggestion.suggestion-layout-simple {
  background-color: rgba(27, 94, 32, 0.05);
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestion.ds-cursor .algolia-docsearch-suggestion:not(.suggestion-layout-simple) .algolia-docsearch-suggestion--content {
  background-color: rgba(27, 94, 32, 0.05);
}

.algolia-autocomplete .ds-dropdown-menu [class^="ds-dataset-"] {
  position: relative;
  border: solid 1px #efebe9;
  background: #fff;
  border-radius: 4px;
  overflow: auto;
  padding: 0 8px 8px;
}

.algolia-autocomplete .ds-dropdown-menu * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.algolia-autocomplete .algolia-docsearch-suggestion {
  position: relative;
  padding: 0 8px;
  background: #fff;
  color: #0b140f;
  overflow: hidden;
}

.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  color: #020502;
  background: rgba(118, 158, 121, 0.1);
  padding: 0.1em 0.05em;
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--category-header-lvl0 .algolia-docsearch-suggestion--highlight,
.algolia-autocomplete .algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--category-header-lvl1 .algolia-docsearch-suggestion--highlight {
  color: inherit;
  background: inherit;
}

.algolia-autocomplete .algolia-docsearch-suggestion--text .algolia-docsearch-suggestion--highlight {
  padding: 0 0 1px;
  background: inherit;
  -webkit-box-shadow: inset 0 -2px 0 0 rgba(27, 94, 32, 0.8);
          box-shadow: inset 0 -2px 0 0 rgba(27, 94, 32, 0.8);
  color: inherit;
}

.algolia-autocomplete .algolia-docsearch-suggestion--content {
  display: block;
  float: right;
  width: 70%;
  position: relative;
  padding: 5.33333px 0 5.33333px 10.66667px;
  cursor: pointer;
}

.algolia-autocomplete .algolia-docsearch-suggestion--content:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  width: 1px;
  background: #ddd;
  left: -1px;
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
  position: relative;
  border-bottom: 1px solid #ddd;
  display: none;
  margin-top: 8px;
  padding: 4px 0;
  font-size: 1em;
  color: #2f2625;
}

.algolia-autocomplete .algolia-docsearch-suggestion--wrapper {
  width: 100%;
  float: left;
  padding: 8px 0 0 0;
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
  float: left;
  width: 30%;
  padding-left: 0;
  text-align: right;
  position: relative;
  padding: 5.33333px 10.66667px;
  color: #a29f9c;
  font-size: 0.9em;
  word-wrap: break-word;
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  width: 1px;
  background: #ddd;
  right: 0;
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column .algolia-docsearch-suggestion--highlight {
  background-color: inherit;
  color: inherit;
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-inline {
  display: none;
}

.algolia-autocomplete .algolia-docsearch-suggestion--title {
  margin-bottom: 4px;
  color: #0b140f;
  font-size: 0.9em;
  font-weight: bold;
}

.algolia-autocomplete .algolia-docsearch-suggestion--text {
  display: block;
  line-height: 1.2em;
  font-size: 0.85em;
  color: #3f4145;
}

.algolia-autocomplete .algolia-docsearch-suggestion--no-results {
  width: 100%;
  padding: 8px 0;
  text-align: center;
  font-size: 1.2em;
}

.algolia-autocomplete .algolia-docsearch-suggestion--no-results::before {
  display: none;
}

.algolia-autocomplete .algolia-docsearch-suggestion code {
  padding: 1px 5px;
  font-size: 90%;
  border: none;
  color: #222222;
  background-color: #EBEBEB;
  border-radius: 3px;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.algolia-autocomplete .algolia-docsearch-suggestion code .algolia-docsearch-suggestion--highlight {
  background: none;
}

.algolia-autocomplete .algolia-docsearch-suggestion.algolia-docsearch-suggestion__main .algolia-docsearch-suggestion--category-header {
  display: block;
}

.algolia-autocomplete .algolia-docsearch-suggestion.algolia-docsearch-suggestion__secondary {
  display: block;
}

@media all and (min-width: 768px) {
  .algolia-autocomplete .algolia-docsearch-suggestion .algolia-docsearch-suggestion--subcategory-column {
    display: block;
  }
}

@media all and (max-width: 768px) {
  .algolia-autocomplete .algolia-docsearch-suggestion .algolia-docsearch-suggestion--subcategory-column {
    display: inline-block;
    width: auto;
    text-align: left;
    float: left;
    padding: 0;
    color: #02060C;
    font-size: 0.9em;
    font-weight: bold;
    text-align: left;
    opacity: 0.5;
  }
  .algolia-autocomplete .algolia-docsearch-suggestion .algolia-docsearch-suggestion--subcategory-column:before {
    display: none;
  }
  .algolia-autocomplete .algolia-docsearch-suggestion .algolia-docsearch-suggestion--subcategory-column:after {
    content: "|";
  }
  .algolia-autocomplete .algolia-docsearch-suggestion .algolia-docsearch-suggestion--content {
    display: inline-block;
    width: auto;
    text-align: left;
    float: left;
    padding: 0;
  }
  .algolia-autocomplete .algolia-docsearch-suggestion .algolia-docsearch-suggestion--content:before {
    display: none;
  }
}

.algolia-autocomplete .suggestion-layout-simple.algolia-docsearch-suggestion {
  border-bottom: solid 1px #eee;
  padding: 8px;
  margin: 0;
}

.algolia-autocomplete .suggestion-layout-simple .algolia-docsearch-suggestion--content {
  width: 100%;
  padding: 0;
}

.algolia-autocomplete .suggestion-layout-simple .algolia-docsearch-suggestion--content::before {
  display: none;
}

.algolia-autocomplete .suggestion-layout-simple .algolia-docsearch-suggestion--category-header {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  border: none;
}

.algolia-autocomplete .suggestion-layout-simple .algolia-docsearch-suggestion--category-header-lvl0 {
  opacity: .6;
  font-size: 0.85em;
}

.algolia-autocomplete .suggestion-layout-simple .algolia-docsearch-suggestion--category-header-lvl1 {
  opacity: .6;
  font-size: 0.85em;
}

.algolia-autocomplete .suggestion-layout-simple .algolia-docsearch-suggestion--category-header-lvl1::before {
  background-image: url('data:image/svg+xml;utf8,<svg width="10" height="10" viewBox="0 0 20 38" xmlns="http://www.w3.org/2000/svg"><path d="M1.49 4.31l14 16.126.002-2.624-14 16.074-1.314 1.51 3.017 2.626 1.313-1.508 14-16.075 1.142-1.313-1.14-1.313-14-16.125L3.2.18.18 2.8l1.31 1.51z" fill-rule="evenodd" fill="%231D3657" /></svg>');
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
}

.algolia-autocomplete .suggestion-layout-simple .algolia-docsearch-suggestion--wrapper {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}

.algolia-autocomplete .suggestion-layout-simple .algolia-docsearch-suggestion--duplicate-content, .algolia-autocomplete .suggestion-layout-simple .algolia-docsearch-suggestion--subcategory-inline {
  display: none !important;
}

.algolia-autocomplete .suggestion-layout-simple .algolia-docsearch-suggestion--title {
  margin: 0;
  color: #1b5e20;
  font-size: 0.9em;
  font-weight: normal;
}

.algolia-autocomplete .suggestion-layout-simple .algolia-docsearch-suggestion--title::before {
  content: "#";
  font-weight: bold;
  color: #1b5e20;
  display: inline-block;
}

.algolia-autocomplete .suggestion-layout-simple .algolia-docsearch-suggestion--text {
  margin: 4px 0 0;
  display: block;
  line-height: 1.4em;
  padding: 5.33333px 8px;
  background: #f8f8f8;
  font-size: 0.85em;
  opacity: .8;
}

.algolia-autocomplete .suggestion-layout-simple .algolia-docsearch-suggestion--text .algolia-docsearch-suggestion--highlight {
  color: #1a1b1d;
  font-weight: bold;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.algolia-autocomplete .algolia-docsearch-footer {
  width: 110px;
  height: 20px;
  z-index: 2000;
  margin-top: 10.66667px;
  float: right;
  font-size: 0;
  line-height: 0;
}
