<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>CoffeeScript</title>
  <link rel="stylesheet" type="text/css" href="documentation/css/docs.css" />  
</head>
<body>

  <div class="container">

    <h1>CoffeeScript</h1>
    
    <p>
      CoffeeScript is a little language that compiles into JavaScript. Think
      of it as JavaScript's simpleminded kid brother &mdash; the same genes,
      the same accent, but another kind of way of doing things.
    </p>
    
    <p>
      
    </p>

  </div>

</body>
</html>
